@font-face {font-family: "iconfont";
	src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fukuandan:before { content: "\e653"; }

.icon-zhengchangcaigoudingdan:before { content: "\e64c"; }

.icon-shenqingfangkuanxiangmu:before { content: "\e640"; }

.icon-kuanxiangguanli_shenqingxinxi:before { content: "\e7a1"; }

.icon-kuanxiangguanli_fukuanguanli:before { content: "\e7a2"; }

.icon-kuanxiangguanli_tiaoxiguanli:before { content: "\e7a3"; }

.icon-kuanxiangguanli_zujincesuan:before { content: "\e7a7"; }

.icon-bid:before { content: "\e60e"; }

.icon-yanshou:before { content: "\e60d"; }

.icon-toubiaoguanli:before { content: "\e767"; }

.icon-zuocedaohang_shoufukuanxiang:before { content: "\e68d"; }

.icon-kuanxiangguanli:before { content: "\e613"; }

.icon-yanshou1:before { content: "\e625"; }

.icon-request-consult:before { content: "\e62a"; }

.icon-yanshou2:before { content: "\e614"; }

.icon-toubiaoguanli1:before { content: "\e62b"; }

.icon-shoukuanhuizongbiaoanshoukuanxiangmu:before { content: "\e630"; }

.icon-color-F0AD4E{color: #F0AD4E;}


