<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.purchase.mapper.order.BizUncontractApplyMoneyDetailMapper">
  <resultMap id="BaseResultMap" type="com.purchase.pojo.order.BizUncontractApplyMoneyDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="project_content" jdbcType="VARCHAR" property="projectContent" />
    <result column="quantities" jdbcType="DOUBLE" property="quantities" />
    <result column="apply_completion_rate" jdbcType="DOUBLE" property="applyCompletionRate" />
    <result column="approval_completion_rate" jdbcType="DOUBLE" property="approvalCompletionRate" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="apply_price" jdbcType="DECIMAL" property="applyPrice" />
    <result column="approval_price" jdbcType="DECIMAL" property="approvalPrice" />
    <result column="warranty_date" jdbcType="DECIMAL" property="warrantyDate" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_no, project_content, quantities, apply_completion_rate, approval_completion_rate, 
    unit, price, apply_price, approval_price, warranty_date, date, remark, create_time, 
    update_date
  </sql>
  <select id="selectByExample" parameterType="com.purchase.pojo.order.BizUncontractApplyMoneyDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_uncontract_apply_money_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biz_uncontract_apply_money_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from biz_uncontract_apply_money_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.purchase.pojo.order.BizUncontractApplyMoneyDetailExample">
    delete from biz_uncontract_apply_money_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.purchase.pojo.order.BizUncontractApplyMoneyDetail">
    insert into biz_uncontract_apply_money_detail (id, order_no, project_content, 
      quantities, apply_completion_rate, approval_completion_rate, 
      unit, price, apply_price, 
      approval_price, warranty_date, date, 
      remark, create_time, update_date
      )
    values (#{id,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{projectContent,jdbcType=VARCHAR}, 
      #{quantities,jdbcType=DOUBLE}, #{applyCompletionRate,jdbcType=DOUBLE}, #{approvalCompletionRate,jdbcType=DOUBLE}, 
      #{unit,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{applyPrice,jdbcType=DECIMAL}, 
      #{approvalPrice,jdbcType=DECIMAL}, #{warrantyDate,jdbcType=DECIMAL}, #{date,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.purchase.pojo.order.BizUncontractApplyMoneyDetail">
    insert into biz_uncontract_apply_money_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="projectContent != null">
        project_content,
      </if>
      <if test="quantities != null">
        quantities,
      </if>
      <if test="applyCompletionRate != null">
        apply_completion_rate,
      </if>
      <if test="approvalCompletionRate != null">
        approval_completion_rate,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="applyPrice != null">
        apply_price,
      </if>
      <if test="approvalPrice != null">
        approval_price,
      </if>
      <if test="warrantyDate != null">
        warranty_date,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="projectContent != null">
        #{projectContent,jdbcType=VARCHAR},
      </if>
      <if test="quantities != null">
        #{quantities,jdbcType=DOUBLE},
      </if>
      <if test="applyCompletionRate != null">
        #{applyCompletionRate,jdbcType=DOUBLE},
      </if>
      <if test="approvalCompletionRate != null">
        #{approvalCompletionRate,jdbcType=DOUBLE},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="applyPrice != null">
        #{applyPrice,jdbcType=DECIMAL},
      </if>
      <if test="approvalPrice != null">
        #{approvalPrice,jdbcType=DECIMAL},
      </if>
      <if test="warrantyDate != null">
        #{warrantyDate,jdbcType=DECIMAL},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.purchase.pojo.order.BizUncontractApplyMoneyDetailExample" resultType="java.lang.Integer">
    select count(*) from biz_uncontract_apply_money_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update biz_uncontract_apply_money_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.projectContent != null">
        project_content = #{record.projectContent,jdbcType=VARCHAR},
      </if>
      <if test="record.quantities != null">
        quantities = #{record.quantities,jdbcType=DOUBLE},
      </if>
      <if test="record.applyCompletionRate != null">
        apply_completion_rate = #{record.applyCompletionRate,jdbcType=DOUBLE},
      </if>
      <if test="record.approvalCompletionRate != null">
        approval_completion_rate = #{record.approvalCompletionRate,jdbcType=DOUBLE},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.applyPrice != null">
        apply_price = #{record.applyPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.approvalPrice != null">
        approval_price = #{record.approvalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.warrantyDate != null">
        warranty_date = #{record.warrantyDate,jdbcType=DECIMAL},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update biz_uncontract_apply_money_detail
    set id = #{record.id,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      project_content = #{record.projectContent,jdbcType=VARCHAR},
      quantities = #{record.quantities,jdbcType=DOUBLE},
      apply_completion_rate = #{record.applyCompletionRate,jdbcType=DOUBLE},
      approval_completion_rate = #{record.approvalCompletionRate,jdbcType=DOUBLE},
      unit = #{record.unit,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      apply_price = #{record.applyPrice,jdbcType=DECIMAL},
      approval_price = #{record.approvalPrice,jdbcType=DECIMAL},
      warranty_date = #{record.warrantyDate,jdbcType=DECIMAL},
      date = #{record.date,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.purchase.pojo.order.BizUncontractApplyMoneyDetail">
    update biz_uncontract_apply_money_detail
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="projectContent != null">
        project_content = #{projectContent,jdbcType=VARCHAR},
      </if>
      <if test="quantities != null">
        quantities = #{quantities,jdbcType=DOUBLE},
      </if>
      <if test="applyCompletionRate != null">
        apply_completion_rate = #{applyCompletionRate,jdbcType=DOUBLE},
      </if>
      <if test="approvalCompletionRate != null">
        approval_completion_rate = #{approvalCompletionRate,jdbcType=DOUBLE},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="applyPrice != null">
        apply_price = #{applyPrice,jdbcType=DECIMAL},
      </if>
      <if test="approvalPrice != null">
        approval_price = #{approvalPrice,jdbcType=DECIMAL},
      </if>
      <if test="warrantyDate != null">
        warranty_date = #{warrantyDate,jdbcType=DECIMAL},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.purchase.pojo.order.BizUncontractApplyMoneyDetail">
    update biz_uncontract_apply_money_detail
    set order_no = #{orderNo,jdbcType=VARCHAR},
      project_content = #{projectContent,jdbcType=VARCHAR},
      quantities = #{quantities,jdbcType=DOUBLE},
      apply_completion_rate = #{applyCompletionRate,jdbcType=DOUBLE},
      approval_completion_rate = #{approvalCompletionRate,jdbcType=DOUBLE},
      unit = #{unit,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      apply_price = #{applyPrice,jdbcType=DECIMAL},
      approval_price = #{approvalPrice,jdbcType=DECIMAL},
      warranty_date = #{warrantyDate,jdbcType=DECIMAL},
      date = #{date,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>